<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <style>
            .align {
                float: right;
                padding-right: 16px
            }
            
            .pad1 {
                padding-right: 16px
            }
        </style>
    </head>
    <body>
        <a href='/' class = "pad1">Home</a>
        <a href='/blog' class = "pad1">all posts</a>
        <a href='/newpost'>new post</a>

        <a href='/logout' class = 'align'>logout</a>
        <a href='/login'  class = 'align'>login</a>

    {% block content %}
    {% endblock %}

    </body>
</html>
